body {
	overflow:hidden !important;
}	
.my-container{
	width: 80%;
	margin: auto;
}
.logo{
	width: 100%;
}
.menu{
	width: 20%;
	float: left;
}
ul{
	list-style: none;
}
li{
	font-size: 1.50rem;
	font-weight: 500;
}
.main-li{
	padding: 10px 0 0 0;
}
.sub-div{
	width: 80%;
	float: right;
}
.sub-li{
	font-size: 18px;
	font-weight: 400;
}
.fas{
	margin-right:5px;
}
.active{
	background: maroon;
	color: #f8f9fa;
	padding:3px 0 3px 20px !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
a{
	display: inline-block;
	width: 100%;
	color: #343a40;
	transition: 0.3s;
}
a.sub-li:hover{
	background: maroon;
	color: #f8f9fa;
	padding:3px 0 3px 20px !important;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
a.active:hover{
	text-decoration: none;
	color: #f8f9fa;
}
.content{
	border-left: 5px double maroon;
	width: 80%;
	float: right;
}
.number{
	font-size: 3.75rem;
	font-weight: 500;
	margin: 1.5rem 0 0 1.5rem;
}
.title{
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0 0 0 1.75rem;
}
.subtitle{
	margin: 0 0 0 1.75rem;
}
.count{
	width: 40%;
	height: 200px;
	margin:3% 0 0 5%;
	float:left;
	background-size: 220px;
	background-position: right;
	background-repeat: no-repeat;
	background-position-y: 30px;
}
.student{
	background-image: url("../pictures/students.png");
}
.teacher{
	background-image: url("../pictures/teachers.png");
}
.room{
	background-image: url("../pictures/rooms.png");
}
.section{
	background-image: url("../pictures/sections.png");
}