#modal {
  display: none; /*Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  min-height: 100%; /* Full height */
  max-height: 100%;
  overflow-y: hidden;
  /*overflow: auto;  Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content{
  /*min-height: 30%;*/
  max-height: 97%;
  overflow-y: scroll;
  background-color: #fefefe;
   /* 15% from the top and centered */
  margin: 0 auto;
  padding: 1%;
  border: 0.0625em solid #888;
  /*width: 30%;  Could be more or less, depending on screen size */
  width: 50%;
}

#modal-content *{
  font-weight: bold;
}

#modal-header{
  /*padding: 0%;*/
  padding: 0%;
  border-bottom: double 0.5em #aaa;
}

/*#modal-title{
  float: left;
}*/
/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 200%;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*MODAL BODY*/
#modal-body{
  margin: 4% 2%;
  font-weight: bold;
}

/*#txt_QTY{
  width: 20%;
  text-align: center;
  font-size: 140%;
  padding: 2%;
  border: 0.1em solid #aaa;
  border-radius: 1em;
}

#div_QTY{
  font-size: 120%;
  text-align: left;
}

#div_PRICE{
  
}
*/
/*MODAL FOOTER*/
#modal-footer{
  padding: 3% 2%;
  border-top: solid 0.2em #aaa;
}

#qty-modal-footer button{
  margin-left: 5%;
  float: right;
  font-size: 120%;
}

/*#qty_validity{
  text-align: right;
  display: none;
  color: red;
}

#qty-btn-BUY{
  display: none;
}*/