input[type = "text"]{
	/*font-size: 150em;*/
	/*width: 100%;*/
}

#fieldset_StdReg{
	/*text-align: left;*/
	width: 97.7%;
	/*overflow-x: hidden;*/
	display: block;
}

#body_StdReg *{
	font-weight: bold;
} 

#fieldset_StdReg legend{
	/*//font-size: ;*/
}

#FirstCol{
	width: 50%;
	height: 100%;
	float: left;
	/*display: inline-block;*/
}

#SecondCol{
	width: 50%;
	height: 100%;
	float: right;
	/*display: inline;*/
}

/*EMPLOYEE*/

#body_EmpReg *{
	font-weight: bold;
}