input[type = "text"]{
	
}

#fieldset_StdReg, #fieldset_EmpReg{
	
	width: 97.7%;
	
	display: block;
}

#body_StdReg *, #body_EmpReg *{
	font-weight: bold;
} 

#fieldset_StdReg legend{
	
}

#FirstCol{
	width: 50%;
	height: 100%;
	float: left;
	
}

#SecondCol{
	width: 50%;
	height: 100%;
	float: right;
	
}
